#myFactigis_BackOffice {
  background-color: #282d2d;
}

.wrapper_factigis_bo1{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;
  //align-content: space-between;
  align-content: center;
}

.griddle th  input{
  width: 80%;
}

div strong{
  font-size: 12px;
}

.factigis_bo1-h2{
  background-color: inherit;
  margin-top: 0px;
  padding-top: 0.7em;
  padding-left: 0.5em;
  font-weight: 100;
  color: ghostwhite;
  font-size: medium;
}

.factigis_bo1-h1{
  background-color: #346390;
  margin-top: 0px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: larger;
  font-weight: 100;
  color: ghostwhite;
  padding-bottom: 0.3em;
  display: flex;
  width: 100%;
}

.factigis_h1_edited{
  justify-content: center;
}
.wrapper_top{
  display: flex;
  width: 100%;
  background-color:  #282d2d;
  JUSTIFY-CONTENT: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.bo1_table{
  display: flex;
  width: 100%;
}

.wrapper_mid{
  display: flex;
  width: 100%;
  flex-direction: row;

}
.wrapper_mid-left{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  background: ghostwhite;
  align-items: stretch;
  justify-content: space-between;
  margin: 0em;
}

.wrapper_mid-split {
  display: flex;
}

.wrapper_mid_splitbot{
  margin-bottom: 2em;
}

.wrapper_mid-split-1{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 1em;
  margin-bottom: 1em;
}

.wrapper_mid-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: ghostwhite;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}


.factigis_bo1_map{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*#factigis_bo1_map_root{
  height: 430px !important;
}
*/
.wrapper_bot{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #282d2d;
  bottom: 0px;
  position: relative;
  padding-bottom: 1em;
  padding-top: 0em;
}

.wrapper_bot_title{
  display: flex;
  width: 100%;
}

.wrapper_bot_content {
  display: flex;
  flex-direction: row;
  width: 75%;
  align-self: center;
}

.factigis_bo1_wrapper-zonas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}

.marginRight05{
  margin-right: 0.5em;
}
.factigis_bo1_cbEstado{
  width: 100%;
}


.bodybackoffice_factigis{
  background-color:  #282d2d;
}

.factigis_bo1-b{
  margin-left: 0.3em;
}

.factigis_bo1-h8{
  color: ghostwhite;
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-weight: 600;
}

.ReactModalPortal{
  z-index: 5;
  position: absolute;
}
