.factigisBusqueda_h5{
font-size: 11px;
  background-color: ghostwhite;
  border: 1px dashed;
  width: 100%;
  display: flex;
  border-color: gainsboro;
      margin-top: 7px;
}

.factigisBusqueda_h8{
  font-size: 13px;
  background-color: #beddf7;
  width: 100%;
  display: flex;
}
